*{
    margin:0;
    padding: 0%;
}

.header{
    background-color: black;
}
h1{
color: white;
text-align: center;
}
.header nav a{
    text-align: center;
    color: white;
    padding-left: 3px;
}
.header nav a:hover{
    color:grey;
    cursor: pointer;
}
.header nav{
    margin-left: 670px;
}

.receipe{
display: flex;
justify-content: center;
gap:20px;
margin-top: 120px;
}
.box{
    display: inline-block;
    width: 230px;
    border: 2px solid black;
}
.box img{
    width:230px;
    height:230px;
}
button{
    background-color: black;
    color: white;
    padding:5px;
    margin-left: 60px;;
     border-radius: 5px;
}
button:hover{
    color: grey;
    cursor: pointer;
   }
   .contact{
    background-color: black;
    color: white;
    margin-top: 120px;

   }
   input{
    cursor: pointer;
   }
   tr,th{
    text-align: center;
    padding:10px;
    padding-left:670px;
   }
h2{
    text-align: center;
}
.send{
    background-color: yellow;
    color: black;
    width:400px;
    margin-left: 600px;
}
.send:hover{
    background-color:grey;
    color:black;
    cursor: pointer;
    transition: 0.3s;
}